:host {
  display: block;
  & button {
    all: unset;
    cursor: pointer;
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px) saturate(180%);
    -webkit-backdrop-filter: blur(2px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: var(--dimension-border-radius-circle);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), inset 0 4px 20px rgba(255, 255, 255, 0.3);
    color: var(--crai-color-text-inverse, white);
    overflow: hidden;
    & span {
      position: absolute;
      transform: translate(-50%, -50%) scale(0);
      display: inline-block;
      opacity: 0.8;
      width: 25rem;
      height: 25rem;
      background-color: #fff;
      border-radius: 50%;
      animation: ripple 1.5s ease;
    }
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 0;
      overflow: hidden;
      border-radius: var(--dimension-border-radius-circle);
      -webkit-box-shadow: inset 2px 2px 0px -2px rgba(255, 255, 255, 0.7), inset 0 0 3px 1px rgba(255, 255, 255, 0.7);
      box-shadow: inset 2px 2px 0px -2px rgba(255, 255, 255, 0.7), inset 0 0 3px 1px rgba(255, 255, 255, 0.7);
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.03);
      border-radius: var(--dimension-border-radius-circle);
      backdrop-filter: blur(1px);
      box-shadow: inset -10px -8px 0px -11px rgba(255, 255, 255, 1), inset 0px -9px 0px -8px rgba(255, 255, 255, 1);
      opacity: 0.6;
      z-index: -1;
      filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%) url(#container-glass);
    }
  }
}

:host([variant='glass']) {
  & button {
    padding: 0.8rem 1.2rem;
    font-size: 1rem;
    color: var(--crai-color-text-inverse, white);
    overflow: hidden;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    border-radius: var(--dimension-border-radius-medium);
    & span {
      position: absolute;
      transform: translate(-50%, -50%) scale(0);
      display: inline-block;
      opacity: 0.8;
      width: 25rem;
      height: 25rem;
      background-color: #fff;
      border-radius: 50%;
      animation: ripple 1.5s ease;
    }
  }
}
@keyframes ripple {
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}
