:host {
  display: block;
  & button {
    all: unset;
    cursor: pointer;
  }
}

:host([variant='glass']) {
  & button {
    position: relative;
    background: rgba(81, 81, 81, 0.25);
    border-radius: 16px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0.8rem 1.2rem;
    font-size: 1rem;
    color: var(--crai-color-text-inverse, white);

    overflow: hidden;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    & span {
      position: absolute;
      transform: translate(-50%, -50%) scale(0);
      display: inline-block;
      opacity: 0.8;
      width: 25rem;
      height: 25rem;
      background-color: #fff;
      border-radius: 50%;
      animation: ripple 1.5s ease;
    }
  }
}
@keyframes ripple {
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}
