:host {
  display: block;
  /* fonts */
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight-default);
  font-style: var(--font-style-normal);
  font-optical-sizing: var(--font-optical-sizing-default);
  & button {
    font: inherit;
    letter-spacing: var(--letter-spacing-large);
    cursor: pointer;
    position: relative;
    background: var(--color-primary);
    border-radius: var(--border-radius-md);
    border: 1px solid var(--color-text);
    padding: 1rem 1.5rem;
    color: var(--crai-color-text-inverse, white);
    overflow: hidden;
    & span {
      position: absolute;
      transform: translate(-50%, -50%) scale(0);
      display: inline-block;
      opacity: 0.8;
      width: 25rem;
      height: 25rem;
      background-color: #fff;
      border-radius: 50%;
      animation: ripple 1.5s ease;
    }
  }
}

:host([variant='glass']) {
  overflow: hidden;
  border-radius: var(--border-radius-md);
  & button {
    cursor: pointer;
    font: inherit;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    background: transparent;
    border-radius: var(--border-radius-md);
    outline: none;
    border: none;
    z-index: 0;
    color: white;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: -1;
      overflow: hidden;
      border-radius: var(--border-radius-md);
      -webkit-box-shadow: inset 2px 2px 0px -2px rgba(255, 255, 255, 0.7), inset 0 0 3px 1px rgba(255, 255, 255, 0.7);
      box-shadow: inset 2px 2px 0px -2px rgba(255, 255, 255, 0.7), inset 0 0 3px 1px rgba(255, 255, 255, 0.7);
      background-color: rgba(0, 0, 0, 0.4);
      
    }
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: var(--border-radius-md);
      -webkit-backdrop-filter: blur(0px);
      backdrop-filter: blur(0px);
      -webkit-filter: url(#btn-glass);
      filter: url(#btn-glass);
      overflow: hidden;
      isolation: isolate;
      z-index: -2;
      width: 200%;
      height: 200%;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
    }
  }
}

:host([disabled]) {
  overflow: hidden;
  position: relative;
  border-radius: var(--border-radius-md);
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: rgba(125, 125, 125, 0.6);
  }
  & button {
    cursor: not-allowed;
    pointer-events: none;
  }
}

/* keyframes */
@keyframes ripple {
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}
