:host {
  display: block;
  /* fonts */
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight-default);
  font-style: var(--font-style-normal);
  font-optical-sizing: var(--font-optical-sizing-default);
  & button {
    font: inherit;
    letter-spacing: var(--letter-spacing-large);
    cursor: pointer;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    background: var(--color-button-bg);
    border-radius: var(--border-radius-md);
    border: 1px solid var(--color-button-border);
    padding: 1rem 1.5rem;
    color: var(--color-button);
    overflow: hidden;
    -webkit-corner-shape: squircle;
    /* stylelint-disable-next-line property-no-unknown */
    corner-shape: squircle;
    transition: ease-in-out;
    & span {
      position: absolute;
      transform: translate(-50%, -50%) scale(0);
      display: inline-block;
      opacity: 0.8;
      width: 25rem;
      height: 25rem;
      background-color: #fff;
      border-radius: 50%;
      animation: ripple 1.5s ease;
    }
    & span.content {
      all: unset;
      display: inline-block;
      visibility: visible;
      opacity: 1;
      transition: ease-in-out;
    }
    & span.spinner {
      all: unset;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      visibility: hidden;
      transition: ease-in-out;

      & #spinner {
        animation: spin 1s linear infinite;
        display: block;
        width: auto;
        height: auto;
        aspect-ratio: 1 / 1;
      }
    }
  }
}

:host([variant='glass']) {
  overflow: hidden;
  border-radius: var(--border-radius-md);
  -webkit-corner-shape: squircle;
  /* stylelint-disable-next-line property-no-unknown */
  corner-shape: squircle;
  & button {
    cursor: pointer;
    font: inherit;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    background: transparent;
    border-radius: var(--border-radius-md);
    -webkit-corner-shape: squircle;
    /* stylelint-disable-next-line property-no-unknown */
    corner-shape: squircle;
    outline: none;
    border: none;
    z-index: 0;
    color: white;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: -1;
      overflow: hidden;
      border-radius: var(--border-radius-md);
      -webkit-corner-shape: squircle;
      /* stylelint-disable-next-line property-no-unknown */
      corner-shape: squircle;
      -webkit-box-shadow: var(--glass-inner-shadow);
      box-shadow: var(--glass-inner-shadow);
      background-color: rgba(0, 0, 0, 0.45);
      backdrop-filter: blur(var(--filter-blur));
    }
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: var(--border-radius-md);
      -webkit-corner-shape: squircle;
      /* stylelint-disable-next-line property-no-unknown */
      corner-shape: squircle;
      -webkit-backdrop-filter: blur(0px);
      backdrop-filter: blur(0px);
      -webkit-filter: url(#container-glass);
      filter: url(#container-glass);
      overflow: hidden;
      isolation: isolate;
      z-index: -2;
    }
  }
}

:host([icon]) {
  border-radius: var(--dimension-border-radius-circle);
  -webkit-corner-shape: round;
  /* stylelint-disable-next-line property-no-unknown */
  corner-shape: round;

  & button {
    display: flex;
    align-items: center;
    padding: 0;
    width: 3.4rem;
    height: 3.4rem;
    border-radius: var(--dimension-border-radius-circle);
    -webkit-corner-shape: round;
    /* stylelint-disable-next-line property-no-unknown */
    corner-shape: round;
    &::before,
    ::after {
      border-radius: var(--dimension-border-radius-circle);
      -webkit-corner-shape: round;
      /* stylelint-disable-next-line property-no-unknown */
      corner-shape: round;
    }
  }
}

:host([disabled]) {
  overflow: hidden;
  position: relative;
  border-radius: var(--border-radius-md);
  -webkit-corner-shape: squircle;
  cursor: not-allowed;
  /* stylelint-disable-next-line property-no-unknown */
  corner-shape: squircle;
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: rgba(125, 125, 125, 0.6);
  }
  & button {
    cursor: not-allowed;
    pointer-events: none;
  }
}
:host([loading]) {
  & button {
    & span.content {
      visibility: hidden;
      opacity: 0;
    }
    & span.spinner {
      opacity: 1;
      visibility: visible;
      display: block;
    }
  }
}

/* keyframes */
@keyframes ripple {
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
