:host {
  display: block;
}

:host([variant='glass']) {
  overflow: hidden;
  border-radius: 1.2rem;
  & button {
    all: none;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    padding: 1rem 1.5rem;
    background: transparent;
    border-radius: 1.2rem;
    outline: none;
    border: none;
    z-index: 0;
    color: white;
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 0;
      overflow: hidden;
      border-radius: 1.2rem;
      -webkit-box-shadow: inset 2px 2px 0px -2px rgba(255, 255, 255, 0.7), inset 0 0 3px 1px rgba(255, 255, 255, 0.7);
      box-shadow: inset 2px 2px 0px -2px rgba(255, 255, 255, 0.7), inset 0 0 3px 1px rgba(255, 255, 255, 0.7);
      background-color: rgb(255 255 255 / 10%);
    }
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: 1.2rem;
      -webkit-backdrop-filter: blur(0px);
      backdrop-filter: blur(0px);
      -webkit-filter: url(#btn-glass);
      filter: url(#btn-glass);
      overflow: hidden;
      isolation: isolate;
      z-index: -1;
      width: 200%;
      height: 200%;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
    }
  }
}
