:host {
  display: block;
  & div {
    background: var(--color-primary);
    color: var(--color-text-inverse, white);
    padding: 1rem 2rem;
    border-radius: var(--border-radius-md);
    -webkit-corner-shape: squircle;
    /* stylelint-disable-next-line property-no-unknown */
    corner-shape: squircle;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    place-self: center;
    letter-spacing: var(--letter-spacing-default);
  }
}
:host([variant='glass']) {
  overflow: hidden;
  border-radius: var(--border-radius-md);
  -webkit-corner-shape: squircle;
  /* stylelint-disable-next-line property-no-unknown */
  corner-shape: squircle;
  & div {
    position: relative;
    background: transparent;
    outline: none;
    border: none;
    z-index: 0;
    overflow: hidden;
    border-radius: var(--border-radius-md);
    -webkit-corner-shape: squircle;
    /* stylelint-disable-next-line property-no-unknown */
    corner-shape: squircle;
    color: white;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: -1;
      overflow: hidden;
      border-radius: var(--border-radius-md);
      -webkit-corner-shape: squircle;
      /* stylelint-disable-next-line property-no-unknown */
      corner-shape: squircle;
      -webkit-box-shadow: var(--glass-inner-shadow);
      box-shadow: var(--glass-inner-shadow);
      background-color: rgba(0, 0, 0, 0.45);
      backdrop-filter: blur(var(--filter-blur-sm));
    }
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: var(--border-radius-md);
      -webkit-corner-shape: squircle;
      /* stylelint-disable-next-line property-no-unknown */
      corner-shape: squircle;
      -webkit-backdrop-filter: blur(0px);
      backdrop-filter: blur(0px);
      -webkit-filter: url(#container-glass);
      filter: url(#container-glass);
      overflow: hidden;
      isolation: isolate;
      z-index: -2;
      /* transform: translate(-50%, -50%);
      left: 50%;
      top: 50%; */
    }
  }
}
