:host {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem;
  & span {
    padding: 1rem 1.5rem;
    border-radius: var(--border-radius-md);
    -webkit-corner-shape: squircle;
    /* stylelint-disable-next-line property-no-unknown */
    corner-shape: squircle;
    background-color: var(--color-input-bg);
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    & input {
      all: unset;
      font-family: var(--font-family);
      font-size: var(--font-size);
      font-weight: var(--font-weight-default);
      font-style: var(--font-style-normal);
      font-optical-sizing: var(--font-optical-sizing-default);
      letter-spacing: var(--letter-spacing-default);
      color: var(--color-text);
      border: none;
      outline: none;
      background: transparent;
      &::placeholder {
        color: var(--color-text);
        opacity: 0.5;
      }
    }
  }
  & label {
    color: var(--color-text);
    font-size: 1.2rem;
    font-weight: 500;
  }
  & small {
    color: var(--color-text);
  }
}

:host([variant='outlined']) {
  & span {
    border: 1px solid var(--color-input-bg);
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    & input {
      background: transparent;
    }
  }
}

:host([variant='glass']) {
  border-radius: var(--border-radius-md);
  -webkit-corner-shape: squircle;
  /* stylelint-disable-next-line property-no-unknown */
  corner-shape: squircle;
  & span {
    position: relative;
    background: transparent;
    z-index: 0;
    overflow: hidden;
    border-radius: var(--border-radius-md);
    -webkit-corner-shape: squircle;
    /* stylelint-disable-next-line property-no-unknown */
    corner-shape: squircle;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border: none;
    color: white;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: -2;
      overflow: hidden;
      border-radius: var(--border-radius-md);
      -webkit-corner-shape: squircle;
      /* stylelint-disable-next-line property-no-unknown */
      corner-shape: squircle;
      -webkit-box-shadow: var(--glass-inner-shadow);
      box-shadow: var(--glass-inner-shadow);
      background-color: var(--glass-bg);
      backdrop-filter: blur(var(--filter-blur));
    }
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: var(--border-radius-md);
      -webkit-corner-shape: squircle;
      /* stylelint-disable-next-line property-no-unknown */
      corner-shape: squircle;
      -webkit-backdrop-filter: blur(0px);
      backdrop-filter: blur(0px);
      -webkit-filter: url(#container-glass);
      filter: url(#container-glass);
      overflow: hidden;
      isolation: isolate;
      z-index: -3;
    }
  }
}

:host([variant='transparent']) {
  & span {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 1rem 0;
    & input {
      background: transparent;
    }
  }
}

:host([disabled]) {
  opacity: 0.5;
  cursor: not-allowed;
}
