:host {
  display: block;
  & input {
    all: unset;
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight-default);
    font-style: var(--font-style-normal);
    font-optical-sizing: var(--font-optical-sizing-default);
    letter-spacing: var(--letter-spacing-default);
    color: var(--color-text);
    padding: 1rem 1.5rem;
    border-radius: var(--border-radius-md);
    -webkit-corner-shape: squircle;
    /* stylelint-disable-next-line property-no-unknown */
    corner-shape: squircle;
    background-color: var(--color-input-bg);
    border: none;
    outline: none;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    &::placeholder {
      color: var(--color-text);
      opacity: 0.5;
    }
  }
}
